.candidates {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 50px;
    margin: 20px;
    justify-content: center;
  }
  
  
  .candidatetableinputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
    gap: 20px;
  
  }
  .candidatetableinputs input{
    width: 750px;
    padding: 5px;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--background);
    box-shadow: 1px 1px 3px;
  
  }
  
  .candidatetableinputs select{
    width: 450px;
    padding: 5px;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--background);
    box-shadow:1px 1px 3px;
    outline: none;
  
  }
  
  .candidatetableinputs button{
  
      
    padding: 5px;
    background-color: var(--text1);
    color: white;
    border-radius: 8px;
    border: none;
    width: 200px;
  
    cursor: pointer;
  }
  
  
  
  
  
  
  
  @media screen and (max-width: 910px) {
    .candidates {
      display: flex;
      flex-wrap: wrap;
    }
  }
  